@import "tailwindcss";

:root {
  --background: #f5f1e8;
  --foreground: #171717;
}
@theme{
  --color-primary-500: #e27746;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jost: var(--font-jost)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f1e8;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono);
}

h1, h2, h3, h4, h5, h6, li {
  font-family: var(--font-jost);
}

